# Project config #
project_name: 'DeepFake-Detection-metadata-search'
log_level: INFO

# Worker config #
# Additional definition for the worker can be found here: https://docker-py.readthedocs.io/en/stable/containers.html

num_gpus: 1

worker:
  image: dfdc:model1

  volumes:
    /dev/shm:
      bind: /dev/shm
      mode: rw

    /data/deepfake/:
      bind: /data/deepfake/
      mode: rw

    /data1/data/deepfake/:
      bind: /data1/data/deepfake/
      mode: rw

    /home/kailu/.cache/torch/checkpoints:
      bind: /root/.cache/torch/checkpoints
      mode: rw