# Project config #
project_name: 'DFDC_Image_model4_all_face_full_data'
#project_name: 'Model1'
log_level: INFO

# Worker config #
# Additional definition for the worker can be found here: https://docker-py.readthedocs.io/en/stable/containers.html

num_gpus: 1

worker:
  image: dfdc:model1

  volumes:
    /dev/shm:
      bind: /dev/shm
      mode: rw

    /data/deepfake/:
      bind: /data/deepfake/
      mode: rw

    /home/kailu/.cache/torch/checkpoints:
      bind: /root/.cache/torch/checkpoints
      mode: rw

  network_mode: host